<p>colonne-ava works!</p>
<div class="row">
  <div class="col-3 offset-lg-1">box</div>
</div>
<div class="row row-cols-2">
  <div class="col">box</div>
  <div class="col">box</div>
  <div class="col">box</div>
  <div class="col">box</div>
</div>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">box1</div>
      <div class="col">box1</div>
    </div>
  </div>
  <div class="col">box2</div>
</div>

<div class="row">
  <div class="col-3">box1</div>
  <div class="col-3 me-auto">box1</div>
  <div class="col-3">box1</div>
</div>

<div class="row" style="height: 200px">
  <div class="col h-25">uno</div>
  <div class="col h-50">due</div>
  <div class="col">tre</div>
</div>
