<div class="container">
  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="">
        <img src="assets/img/instagram.png" alt="" width="40" />
        navbar
      </a>
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navigat"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navigat">
        <div class="navbar-nav">
          <a href="" class="nav-link">home</a>
          <a href="" class="nav-link">azienda</a>
          <a href="" class="nav-link">about</a>
          <a href="" class="nav-link">prodotti</a>
        
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <h3>Con navigazione collassabile</h3>

  <nav class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Navbar</a>

      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#navigazione"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navigazione">
        <div class="navbar-nav">
          <a href="" class="nav-link">Home</a>

          <a href="" class="nav-link">Azienda</a>

          <a href="" class="nav-link">Prodotti</a>

          <a href="" class="nav-link">Contatti</a>
        </div>
      </div>
    </div>
  </nav>
</div>
